---
import { Page } from '@layout'
import { getImage, Image } from 'astro:assets'

const imageFiles = await Astro.glob('/public/cats/*')
---

<Page title="Joslyn & Jerome">
  <div class="container">
    <h1>Joslyn & Jerome</h1>
    <p class="my-4">
      Our two Ragdolls named Joslyn and Jerome live with us since August 2022. We got them from the
      <a href="https://kandergarden.ch/" class="font-bold text-white">Kandergarden Catery</a>.
    </p>

    <div class="mx-auto w-full columns-1 gap-4 sm:hidden">
      {imageFiles.map((img) => <Image src={img.default} width="300" alt="Cats" class="mb-3 w-full rounded" />)}
    </div>
    <div id="cats" class="mx-auto mb-5 hidden w-full gap-4 sm:block sm:columns-2 md:columns-3 lg:columns-4">
      {
        imageFiles.map(async (img) => {
          const optimizedImage = await getImage({ src: img.default, height: 800 })
          return (
            <a
              href={optimizedImage.src}
              data-pswp-width={optimizedImage.attributes.width}
              data-pswp-height={optimizedImage.attributes.height}>
              <Image src={img.default} width="300" alt="Cats" class="mb-3 w-full rounded" />
            </a>
          )
        })
      }
    </div>
  </div>
</Page>

<script>
  import 'photoswipe/style.css'

  import pswpModule from 'photoswipe'
  import PhotoSwipeLightbox from 'photoswipe/lightbox'

  declare global {
    interface Window {
      lightbox?: unknown
    }
  }
  window.lightbox = new PhotoSwipeLightbox({
    pswpModule,
    children: 'a',
    gallery: '#cats',
  })

  document.addEventListener(
    'astro:page-load',
    () => {
      if (window.lightbox) (window.lightbox as { init: () => unknown }).init()
    },
    { once: false },
  )
</script>
