---
import { FormattedDate } from '@library';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).slice(0, 6);
---

<section id="blogs" class="container pt-20">
  <article>
    <h1>Blogs</h1>
    <div class="grid grid-cols-1 items-stretch gap-8 lg:grid-cols-2">
      {
        posts.map((post) => (
          <a href={`/blog/${post.slug}/`}>
            <div class="card w-full bg-base-200 shadow-xl duration-300 md:hover:scale-105 md:hover:shadow-2xl">
              <figure>
                <Image src={post.data.cover} alt={post.data.coverAlt} />
              </figure>
              <div class="card-body">
                <h2 class="card-title">{post.data.title}</h2>
                <FormattedDate date={post.data.pubDate} />
              </div>
            </div>
          </a>
        ))
      }
    </div>
    <!--
    <div class="mt-8 flex place-content-end">
      <a href="/blog/" class="btn btn-primary">View All</a>
    </div>
    -->
  </article>
</section>
