---
import type { Link } from '@data'
import { Image } from 'astro:assets'

const { name, description, url, icon, tags } = Astro.props as Link
---

<div class="my-8">
  <a href={url} class="flex">
    <Image src={icon} alt="icon" width="32" height="32" class="mr-4 h-6 w-6" />
    <span class="text-xl font-bold">{name}</span>
  </a>
  <span class="my-1">{description}</span>
  <div>
    {
      tags.map((tag) => (
        <a href={tag.url} class="badge badge-secondary mr-2 mt-2 duration-200 md:hover:scale-110">
          {tag.name}
        </a>
      ))
    }
  </div>
</div>
