---
import type { Link } from '@data';
import { Image } from 'astro:assets';

const { name, description, url, icon, tags } = Astro.props as Link;
---

<div class="my-4">
  <a href={url}>
    <div class="card bg-base-300 border-2 border-base-content p-2 md:p-4 shadow-xl">
      <p class="flex mb-2">
        <Image src={icon} alt="icon" width="32" height="32" class="w-6 h-6 mr-2" />
        <span class="font-bold text-xl">{name}</span>
      </p>
      <span>{description}</span>
      <div class="mt-2">
        {
          tags.map((tag) => (
            <a href={tag.url} class="badge badge-secondary mr-2 mt-2 duration-200 md:hover:scale-110">
              {tag.name}
            </a>
          ))
        }
      </div>
    </div>
  </a>
</div>
