---
import './style.css';

import { ArrowLink, Head, NavBar } from '@components';
import { FormattedDate } from '@library';
import { Image } from 'astro:assets';

const { title, description, pubDate, updatedDate, cover, coverAlt } = Astro.props;
---

<html lang="en">
  <Head title={title} description={description} img={cover} />
  <body>
    <NavBar />
    <main>
      <div class="container">
        <article>
          <ArrowLink href="/blog">All Blog Posts</ArrowLink>
          <Image src={cover} alt={coverAlt} />
          <div>
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <span>
                  Last updated on <FormattedDate date={updatedDate} />
                </span>
              )
            }
          </div>
          <h1>{title}</h1>
          <p class="font-bold">{description}</p>
          <slot />
          <ArrowLink href="/blog">All Blog Posts</ArrowLink>
        </article>
      </div>
    </main>
  </body>
</html>
